{{#each this}}
  <li class='gallery__item'> 
    <img
      src={{this.flags.png}} width="60" height="40"
      alt='flag of'{{this.name.official}}
      class='gallery__img'
    />
    <h2><b>{{this.name.official}} </h2></b>
  </li>
{{/each}}